/* estils generals dels continguts*/

body{
  font-family: georgia, times, serif;
  font-size:  1rem;
  line-height: 1.4em;
  margin: 0;
  background: #f5f5f5;
}
/*---------------------------------------------------------------------------------------------------------------------------------*/
/*estils per a obtindre la barra de navegació de la web*/

.topnav{
  background-color: lightgrey;
  margin: 0;
  padding: 2rem 0;
}
.topnav a {
  color:  white;
  text-decoration: none;
}

.logo{
  display: flex;
  justify-content: space-between;
  align-items:  center;
  flex-wrap: wrap;
}

.logo img{
  width: 180px;
  height: 100px;
}
.menu{
  display: none;
}

.navigation ul{
  margin:  0;
  padding: 0;
  list-style: none;
}

.navigation ul li{
  display: inline-block;
}

.navigation ul li a{
  display: block;
  padding: 0.5rem 1rem;
  transition: 0.4s;
  border-radius: 5px;
}
.navigation ul li a:hover{
  background: darkgrey;
}

h1{
  font-size: 2rem;
  line-height: 1.3 rem;
}

.container{
  width: 100%;
  max-width:  1000px;
  margin: 0 auto;
}

.footer{
  background: lightgrey;
  padding: 4rem 0;
  text-align: center;
  margin-top: 6rem;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/

/*estils per obtindre el banner del inici*/

.banner{
  position: relative;
  margin-bottom: -5px;
}
.banner img{
  max-width:  100%;
  heigth: 100%;
}
.bannercontent{
  position:  absolute;
  top: 45%;
  left: 50%;
  transform:  translateX(-50%) translateY(-50%);
  color: white;
  text-align: center;
  font-weight: 700;
}
.banner h2{
  font-size: 2rem;
  text-decoration: underline;
  line-height: 1.8rem;
}

.banner a {
  width: 100px;
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  border: 3px solid white;
  transition: 0.4s;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.banner a:hover{
  background: darkgrey;
}
/*---------------------------------------------------------------------------------------------------------------------------------*/
/*estils per obtindre el primer contenidor amb context*/

.empty{
  width: 100%;
  background: #f1eae3;
  height: 50px;

}

.context1{
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;

}

.context1 p{
  text-align: justify-all;
  margin-top: 10px;
  font-size:  16px;
  margin: 20px;
  font-family: arial;
 font-weight: 600;
 line-height: 25px;

}

.context1 a{
  text-decoration: none;
  color:black;
  padding: 5px;
  margin: 10px;
  margin-top: 1px;
  border: 1px solid black;
  font-family:impact;
   transition: 0.4s;
  border-radius: 5px;
}
.context1 a:hover{
  background-color: lightgreen;
  }

.context1 img{
  width: 450px;
  height: 300px;
  float: right;
    margin: 20px;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/
/*estils per obtindre el segon contenidor amb context*/
.empty2{
  width: 100%;
  background: #f1eae3;
  height: 50px;

}


.context2{
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  

}
.context2 img{
  width: 500px;
  height: 300px;
  float: left;
    margin: 20px;
    
}
.context2 p{
  text-align: justify-all;
  margin-top: 10px;
  font-size:  16px;
  margin: 20px;
  font-family: arial;
 font-weight: 600;
 line-height: 25px;
float: right;


}

.context2 a{
  text-decoration: none;
  color:black;
  padding: 5px;
  margin: 10px;
  margin-top: 1px;
  border: 1px solid black;
  font-family:impact;
   transition: 0.4s;
  border-radius: 5px;
}
.context2 a:hover{
  background-color: mediumpurple;
  }



/*---------------------------------------------------------------------------------------------------------------------------------*/
/* Left column */
.col-1 {width: 8.33%;} .col-2 {width: 16.66%;}
.col-3 {width: 25%;} .col-4 {width: 33.33%;}
.col-5 {width: 41.66%;} .col-6 {width: 50%;}
.col-7 {width: 58.33%;} .col-8 {width: 66.66%;}
.col-9 {width: 75%;} .col-10 {width: 83.33%;}
.col-11 {width: 91.66%;} .col-12 {width: 100%;}
/*---------------------------------------------------------------------------------------------------------------------------------*/

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 150px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}



/*---------------------------------------------------------------------------------------------------------------------------------*/

/*estils per a una visió responsiva a un movil o tablet*/

@media only screen and (max-width:720px){

.menu{
  display: block;
  cursor:  pointer;
  padding: 0.5rem 2rem;
  color: white;
  transition: 0.4s;
  border-radius: 5px;
}
.menu a:hover{
  background: darkgrey;
}

.navigation {
  width: 100%;
}

.navigation ul{
  display: none;
}

.navigation ul.show{
  display: block;
}

.navigation ul li{
  display: block;
}

.navigation ul li a{
  display: block;
  padding: 0.5rem 2rem;
  transition: 0.4s;
  border-radius: 5px;
}
.navigation ul li a:hover{
  background: darkgrey;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/
.banner h2{
  font-size:20px ;
}
.banner span{
  font-size: 15px;
}
.banner a{
  font-size: 15px;
}
/*---------------------------------------------------------------------------------------------------------------------------------*/
.context1{
  display: block;

}

.context1 p{
text-align: center;
 font-family: arial;
 font-weight: 600;
}

.context1 img{
  display: block;
  margin: 0 auto;
  float: none;
  max-width: 500px;
  height: 300px;
  margin-bottom: 15px;

  }
  /*---------------------------------------------------------------------------------------------------------------------------------*/

.context2{
  display: block;

}

.context2 p{
text-align: center;
 font-family: arial;
 font-weight: 600;
 float: none;

}

.context2 img{
  display: block;
  margin: 0 auto;
  float: none;
  max-width: 500px;
  height: 300px;
  margin-top: 20px;
  position: bottom;

  }
 /*---------------------------------------------------------------------------------------------------------------------------------*/
     .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}