/* estils generals dels continguts*/

body{
  font-family: georgia, times, serif;
  font-size:  1rem;
  line-height: 1.4em;
  margin: 0;
  background: #f1eae3;
}
/*---------------------------------------------------------------------------------------------------------------------------------*/
/*estils per a obtindre la barra de navegació de la web*/

.topnav{
  background-color: lightgrey;
  margin: 0;
  padding: 2rem 0;
}
.topnav a {
  color:  white;
  text-decoration: none;
}

.logo{
  display: flex;
  justify-content: space-between;
  align-items:  center;
  flex-wrap: wrap;
}

.logo img{
  width: 180px;
  height: 100px;
}
.menu{
  display: none;
}

.navigation ul{
  margin:  0;
  padding: 0;
  list-style: none;
}

.navigation ul li{
  display: inline-block;
}

.navigation ul li a{
  display: block;
  padding: 0.5rem 1rem;
  transition: 0.4s;
  border-radius: 5px;
}
.navigation ul li a:hover{
  background: darkgrey;
}

h1{
  font-size: 2rem;
  line-height: 1.3 rem;
}

.container{
  width: 100%;
  max-width:  1000px;
  margin: 0 auto;
}

.footer{
  background: lightgrey;
  padding: 4rem 0;
  text-align: center;
  margin-top: 6rem;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/


         

/*---------------------------------------------------------------------------------------------------------------------------------*/
/*estils per obtindre el segon contenidor amb context*/



.pie-pagina{
    width: 100%;
    background-color: #0a141d;

}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 150px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}



/*---------------------------------------------------------------------------------------------------------------------------------*/

/*estils per a una visió responsiva a un movil o tablet*/

@media only screen and (max-width:720px){

.menu{
  display: block;
  cursor:  pointer;
  padding: 0.5rem 2rem;
  color: white;
  transition: 0.4s;
  border-radius: 5px;
}
.menu a:hover{
  background: darkgrey;
}

.navigation {
  width: 100%;
}

.navigation ul{
  display: none;
}

.navigation ul.show{
  display: block;
}

.navigation ul li{
  display: block;
}

.navigation ul li a{
  display: block;
  padding: 0.5rem 2rem;
  transition: 0.4s;
  border-radius: 5px;
}
.navigation ul li a:hover{
  background: darkgrey;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------------*/
     .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}